{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<style>
    table.cart>tbody>tr>td>a>img {
        width: 50px;
    }

    table.cart.table.table-hover thead,
    table.cart.table.table-hover tbody tr.total {
        background-color: lightblue;
    }

    select#id_quantity {
        padding: 8px;
    }
</style>
<h1>Your shopping cart</h1>
<div class="row justify-content-center text-center">

    <div class="col-12">
        <div class="table-responsive">
            <table class="cart table table-hover">
                <caption>Your shopping cart</caption>
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Unit price</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    {% with product=item.product %}
                    <tr scope="row">
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url}}{% else %}{% static 'img/no_image.png'%}
                    {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" class="btn btn-info" value="Update">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                <input type="submit" class="btn btn-danger" value="Remove">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td class="num">${{ cart.get_total_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="row justify-content-end">
    <p class="text-right">
        <a href="{% url 'store:product_list' %}" class="btn btn-light">Continue shopping</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Checkout</a>
    </p>
</div>



{% endblock %}