{% load static %}

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="#" class="widget-newsletter-title">Sign Up to Newsletter</a>
                </div>
                <div class="col-lg-4">
                    <p class="widget-newsletter-content">Get all the latest information on Events, Sales and Offers.<br>
                        <span class="widget-newsletter-content">Receive $10 coupon for first shopping.</span>
                    </p>
                </div>
                <div class="col-lg-5">
                    <form action="#">
                        <div class="footer-submit-wrapper">
                            <input type="email" class="form-control" placeholder="Enter your Email address" required>
                            <button type="submit" class="btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-middle">
            <div class="row row-sm">
                <div class="col-lg-6 col-xl-4">
                    <a href="index-2.html">
                        <img src="{% static 'assets/images/logo-black.png' %}" alt="Porto Logo">
                    </a>
                    <div class="row row-sm">
                        <div class="col-sm-6">
                            <div class="contact-widget">
                                <h4 class="widget-title">ADDRESS</h4>
                                <a href="#">123 Street Name, City, England</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-widget email">
                                <h4 class="widget-title">EMAIL</h4>
                                <a href="mailto:mail@example.com">mail@example.com</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-widget">
                                <h4 class="widget-title">PHONE</h4>
                                <a href="#">Toll Free (123) 456-7890</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-widget">
                                <h4 class="widget-title">WORKING DAYS/HOURS</h4>
                                <a href="#">Mon - Sun / 9:00AM - 8:00PM</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-icons mb-3">
                                <a href="#" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div><!-- End .social-icons -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-3">
                    <div class="widget">
                        <h4 class="widget-title">Account</h4>
                        <ul class="links link-parts">
                            <div class="link-part">
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="#">Track Your Order</a></li>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Shipping Guide</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Product Support</a></li>
                                <li><a href="#">Privacy</a></li>
                            </div>
                            <div class="link-part">
                                <li><a href="my-account.html">Orders History</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                            </div>
                        </ul>
                    </div><!-- End .widget -->
                </div>
                <div class="col-md-4 col-lg-2 col-xl-3">
                    <div class="widget">
                        <h4 class="widget-title">About</h4>
                        <ul class="links">
                            <li><a href="about.html">About Porto</a></li>
                            <li><a href="#">Our Guarantees</a></li>
                            <li><a href="#">Terms And Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Intellectual Property Claims</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div><!-- End .widget -->
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="widget">
                        <h4 class="widget-title">Features</h4>
                        <ul class="links">
                            <li><a href="#">Powerful Admin Panel</a></li>
                            <li><a href="#">Mobile & Retina Optimized</a></li>
                            <li><a href="#">Super Fast Magento Theme</a></li>
                            <li><a href="#">1st Fully working Ajax Theme</a></li>
                            <li><a href="#">10 Unique Homepage Layouts</a></li>
                        </ul>
                    </div><!-- End .widget -->
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p class="footer-copyright">Porto eCommerce. &copy; 2020. All Rights Reserved</p>
            <img src="{% static 'assets/images/payments_long.png' %}" width="180px" style="max-height: 24px">
        </div>
    </div>
</footer>